:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: rgb(125, 137, 150);
  --link: #48689c;
  --link-active: #489c79;
  --link-visited: #945cab;
  --hfont-weight: 700;
  --white: #fff;
  --light-grey: #d3d3d3;
  --light-blue: #ABC9E7;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--light-blue);
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

#intro {
  background: url('../img/skills2.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgb(49, 47, 47);
}

#skills {
  background-color:var(--light-grey);
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgb(49, 47, 47);
  padding: 20px;
}

#about {
  background: url('../img/intro.jpg');
  background-size: cover;
  height: 90vh;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgb(49, 47, 47);
}

#projects {
  background-color:var(--light-grey);
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgb(49, 47, 47);
  padding: 20px;
}

.text__box {
  background-color:var(--dark-grey);
  color: black;
  border: 1px solid rgb(49, 47, 47);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4);
  display: inline-block;
  margin: 25px;
	padding: 10px;
  width: 25%;
}

.social-media {
  width: 30px;
}

#contact {
  background-color:var(--light-grey);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

#menu {
  border-bottom: 1px solid rgb(49, 47, 47);
}
