@font-face {
  font-family: 'Norse';
  src: url('NorseBold.otf');
}

:root {
  --dark-grey: rgb(125, 137, 150);
  --hfont-weight: 700;
  --light-grey: #d6caca;
  --light-blue: #ABC9E7;
  --green: rgb(144, 171, 179);
}

a {
  color: var(--light-grey) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--green) !important;
  text-decoration: underline !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -3vw;
  visibility: hidden;
}

* {
  color: var(--light-grey);
}

body {
  background-image: linear-gradient(rgba(33, 45, 49, 0.95), rgba(33, 45, 49, 0.95)), url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

.brandText {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Norse', Fallback, sans-serif;
}

.introText {
  display: block;
  font-size: 50px;
  font-weight: bold;
}

.txt {
  font-size: 18px;
}

.btn {
  font-size: 20px !important;
  color: var(--light-grey) !important;
  margin-top: 6%;
}

.linkText {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 6%;
}

.divText {
  font-size: 32px;
  margin-bottom: 4%;
  font-weight: bold;
}

.introBlock {
  padding-top: 25%;
  padding-bottom: 25%;
}

#introdiv {
  text-align: center;
  margin: 0 auto;
  padding: 0 10%;
}

#projectsdiv {
  text-align: center;
  margin: 0 auto;
  padding: 4% 10%;
  background: rgb(19, 26, 29);
}

.aboutCol {
  padding: 3% 10% !important;
}

#aboutdiv {
  margin: 0 auto;
  text-align: center;
  padding: 4% 10%;
}

#contactdiv {
  text-align: center;
  padding: 4% 10%;
  background: rgb(19, 26, 29);
}

.logo {
  width: 12vw;
}

.projectimg {
  width: 100%;
  border: #d6caca;
}

.profileimg {
  border-radius: 50%;
  width: 20vw;
  margin: 10% 0%;
}

.bottomnav {
  width: 5vw;
}

.social-media {
  width: 2.3vw;
  margin: 0.35vw 1.5vw;
}

#email {
  width: 40%;
  margin-bottom: 2%;
}

#submit {
  margin-top: 2% !important;
}

#comment {
  width: 40%;
}

#menu {
  font-family: 'Norse', Fallback, sans-serif;
  font-size: 28px;
  background: rgb(22, 21, 21);
  padding: 0 10%;
  border-bottom: rgb(255, 255, 255);
}

@media (max-width: 1440px) {
  .brandText {
    font-size: 3.5vw;
  }

  .txt {
    font-size: 1.5vw;
  }

  .introText {
    font-size: 3.5vw;
  }

  .linkText {
    font-size: 1.75vw;
  }

  .btn {
    font-size: 1.75vw !important;
  }

  .divText {
    font-size: 2.5vw;
  }

  #menu {
    font-size: 2vw;
  }

  .profileimg {
    margin: 20% 0%;
  }

  #email {
    width: 60%;
  }

  #comment {
    width: 60%;
  }
}

@media (max-width: 786px) {}