@font-face {
  font-family: 'Norse';
  src: url('NorseBold.otf');
}

:root {
  --dark-grey: rgb(125, 137, 150);
  --hfont-weight: 700;
  --light-grey: #d6caca;
  --light-blue: #ABC9E7;
  --green: rgb(144, 171, 179);
}

a {
  color: var(--light-grey) !important;
  text-decoration: none !important;
}

a:hover {
  color: var(--green) !important;
  text-decoration: underline !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -3vw;
  visibility: hidden;
}

* {
  color: var(--light-grey);
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  font-weight: bold !important;
}

body {
  background-image: linear-gradient(to left, rgba(22, 21, 21, 0.9), rgba(47, 64, 70, 0.9) 20% 80%, rgba(22, 21, 21, 0.9)), url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;

}

.brand {
  font-size: 50px;
  font-family: 'Norse', Fallback, sans-serif;
}

.introText {
  padding-top: 17vw;
  display: block;
  font-size: 50px;
}

.txt {
  font-size: 16px;
}

#introdiv {
  min-height: 94vh;
  text-align: center;
  margin: 0 auto;
  padding: 0 10%;
}

#projectsdiv {
  margin: 0 auto;
  padding: 0 10%;
  background: rgb(22, 21, 21);
}

#aboutdiv {
  margin: 0 auto;
  text-align: center;
  padding: 0 10%;
  background: rgb(47, 64, 70);
}

#contactdiv {
  text-align: center;
  padding: 0 5%;
  background: rgb(22, 21, 21);
}

.logo {
  width: 12vw;
}

.projectimg {
  width: 100%;
}

.bottomnav {
  width: 5vw;
}

.social-media {
  width: 2.3vw;
  margin: 0.35vw 1.5vw;
}

h5 {
  text-decoration: underline;
}

.skill_icon {
  height: 90px;
}

#menu {
  font-family: 'Norse', Fallback, sans-serif;
  font-size: 28px;
  background: rgb(22, 21, 21);
  padding: 0 10%;
  border-bottom: rgb(255, 255, 255);
  border-radius: 4px;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width: 800px) {
  .skill_icon {
    height: 60px;
  }
}

@media (min-width: 800px) and (max-width: 1450px) {
  .skill_icon {
    height: 70px;
  }
}

@media (min-width: 1450px) {
  .skill_icon {
    height: 90px;
  }
}

@media (max-width: 1750px) {
  .projectcard {
    font-size: 75%;
  }
}